<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-md-4">
      <h1><%= link_to cocktail.name, cocktail %></h1>
      <%= link_to "Create new Drink", new_cocktail_path %>
    </div>
    <% end %>
  </div>
</div>
